@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 600px;
  min-height: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.bg-gray-850 {
  background-color: #1a1d23;
}

.bg-gray-750 {
  background-color: #2d3139;
}
